body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

.container form {
  display: flex;
  width: 80%;
}

.left {
  width: 30%;
  border-right: 2px solid rgba(172, 170, 170, 0.746);
}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.head {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid rgba(172, 170, 170, 0.746);
}

.head p {
  margin: 0 0 30px 30px;
}

.left-main_content {
  display: flex;
  flex-flow: column;
}
.left-main_content-form-disclaimer {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.left-main_content-form-disclaimer img {
  width: 30px;
  height: 30px;
  border: 50%;
}
.left-main_content-form-disclaimer p {
  margin: 5px 10px;
  font-size: 18px;
  color: rgba(25, 150, 161, 0.89);
}

.left-main_content-form-line-input, .right-main_content-form-line-input {
  display: flex;
  flex-flow: column;
  margin: 0px 20px;
}
label {
  color: rgba(68, 68, 68, 0.788);
  font-weight: bold;
  font-size: 19px;
}

.prescription {
  color: rgb(65, 62, 62);
  font-weight: bold;
  font-size: 18px;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 60%;
  height: 20px;
  border: 2px solid rgba(119, 112, 112, 0.781);
  background-color: rgba(186, 181, 189, 0.157);
  font-size: 20px;
}

select {
  width: 30%;
  display: block;
  margin-bottom: 12px;
  height: 30px;
  border: 2px solid rgba(119, 112, 112, 0.781);
  background-color: rgba(186, 181, 189, 0.157);
  font-size: 20px;
}

.left-main_content-date {
  display: flex;
}
.left-main_content-date input {
  margin-right: 5px;
  width: 8%;
}
.left-main_content-date input:last-child {
  width: 13%;
}
.left-main_content-phone {
    display: flex;
    width: 100%;
}

.left-main_content-phone button{
    height: 27px;
    font-size: 17px;
}

.left-main_content-phone input {
    width: 32%;
    margin-right: 5px;
}


.input-icon-right {
    position: relative;
}
.input-icon-right svg {
    position: absolute;
    min-width: 40px;
    margin-top: 5px;
    right: 40%;
    color: rgba(119, 112, 112, 0.781);
}